.container{
  padding: 60px 10px 10px 10px;
}
.header{
  height: 55px;
  background-color: #a7beb3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}


.spinner {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}